@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <!-- ICON BG-->
    <div class="col-lg-12 col-md-6 col-sm-6">
        <p class="text-primary text-24 line-height-1 mb-2">@ViewBag.Company.Name</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                <i class="i-Add-User"></i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0">Leads</p>
                    <p class="text-primary text-24 line-height-1 mb-2">@ViewBag.L</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                <i class="i-Add-User"></i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0">Customer</p>
                    <p class="text-primary text-24 line-height-1 mb-2">@ViewBag.C</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                <i class="i-Add-User"></i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0">Call Backs</p>
                    <p class="text-primary text-24 line-height-1 mb-2">@ViewBag.LCB</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card o-hidden mb-4">
            <div class="card-header d-flex align-items-center">
                <h3 class="w-50 float-left card-title m-0">Call Back Leads</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                @* <th scope="col">#</th> *@
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">State</th>
                                <th scope="col">City</th>
                                <th scope="col">Zip Code</th>
                                <th scope="col">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Leads != null)
                            {
                                @foreach (var item in ViewBag.Leads)
                                {
                                    <tr>
                                        <td>@item.FirstName @item.LastName</td>
                                        <td>@item.HomePhone / @item.MobileNo / @item.OtherPhone</td>
                                        <td>@item.StateId</td>
                                        <td>@item.City</td>
                                        <td>@item.ZipCode</td>
                                        <td>@item.Address</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card o-hidden mb-4">
            <div class="card-header d-flex align-items-center">
                <h3 class="w-50 float-left card-title m-0">States</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                @* <th scope="col">#</th> *@
                                <th scope="col">Code</th>
                                <th scope="col">State Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AL</td>
                                <td>Alabama</td>
                            </tr>
                            <tr>
                                <td>AK</td>
                                <td>Alaska</td>
                            </tr>
                            <tr>
                                <td>AZ</td>
                                <td>Arizona</td>
                            </tr>
                            <tr>
                                <td>AR</td>
                                <td>Arkansas</td>
                            </tr>
                            <tr>
                                <td>CA</td>
                                <td>California</td>
                            </tr>
                            <tr>
                                <td>CT</td>
                                <td>Connecticut</td>
                            </tr>
                            <tr>
                                <td>DE</td>
                                <td>Delaware</td>
                            </tr>
                            <tr>
                                <td>CL</td>
                                <td>District of Columbia</td>
                            </tr>
                            <tr>
                                <td>FL</td>
                                <td>Florida</td>
                            </tr>
                            <tr>
                                <td>GA</td>
                                <td>Georgia</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>Idaho</td>
                            </tr>
                            <tr>
                                <td>IL</td>
                                <td>Illinois</td>
                            </tr>
                            <tr>
                                <td>IN</td>
                                <td>Indiana</td>
                            </tr>
                            <tr>
                                <td>IA</td>
                                <td>Iowa</td>
                            </tr>
                            <tr>
                                <td>KS</td>
                                <td>Kansas</td>
                            </tr>
                            <tr>
                                <td>KY</td>
                                <td>Kentucky</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card o-hidden mb-4">
            <div class="card-header d-flex align-items-center">
                <h3 class="w-50 float-left card-title m-0">States</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                @* <th scope="col">#</th> *@
                                <th scope="col">Code</th>
                                <th scope="col">State Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LA</td>
                                <td>Louisiana</td>
                            </tr>
                            <tr>
                                <td>ME</td>
                                <td>Maine</td>
                            </tr>
                            <tr>
                                <td>MD</td>
                                <td>Maryland</td>
                            </tr>
                            <tr>
                                <td>MA</td>
                                <td>Massachusetts</td>
                            </tr>
                            <tr>
                                <td>MN</td>
                                <td>Minnesota</td>
                            </tr>
                            <tr>
                                <td>MS</td>
                                <td>Mississippi</td>
                            </tr>
                            <tr>
                                <td>MO</td>
                                <td>Missouri</td>
                            </tr>
                            <tr>
                                <td>MT</td>
                                <td>Montana</td>
                            </tr>
                            <tr>
                                <td>NE</td>
                                <td>Nebraska</td>
                            </tr>
                            <tr>
                                <td>NV</td>
                                <td>Nevada</td>
                            </tr>
                            <tr>
                                <td>NH</td>
                                <td>New Hampshire</td>
                            </tr>
                            <tr>
                                <td>NJ</td>
                                <td>New Jersey</td>
                            </tr>
                            <tr>
                                <td>NM</td>
                                <td>New Mexico</td>
                            </tr>
                            <tr>
                                <td>NY</td>
                                <td>New York</td>
                            </tr>
                            <tr>
                                <td>NC</td>
                                <td>North Carolina</td>
                            </tr>
                            <tr>
                                <td>ND</td>
                                <td>North Dakota</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card o-hidden mb-4">
            <div class="card-header d-flex align-items-center">
                <h3 class="w-50 float-left card-title m-0">States</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                @* <th scope="col">#</th> *@
                                <th scope="col">Code</th>
                                <th scope="col">State Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>OH</td>
                                <td>Ohio</td>
                            </tr>
                            <tr>
                                <td>OK</td>
                                <td>Oklahoma</td>
                            </tr>
                            <tr>
                                <td>OR</td>
                                <td>Oregon</td>
                            </tr>
                            <tr>
                                <td>PA</td>
                                <td>Pennsylvania</td>
                            </tr>
                            <tr>
                                <td>RI</td>
                                <td>Rhode Island</td>
                            </tr>
                            <tr>
                                <td>SC</td>
                                <td>South Carolina</td>
                            </tr>
                            <tr>
                                <td>SD</td>
                                <td>South Dakota</td>
                            </tr>
                            <tr>
                                <td>TN</td>
                                <td>Tennessee</td>
                            </tr>
                            <tr>
                                <td>TX</td>
                                <td>Texas</td>
                            </tr>
                            <tr>
                                <td>UT</td>
                                <td>Utah</td>
                            </tr>
                            <tr>
                                <td>VT</td>
                                <td>Vermont</td>
                            </tr>
                            <tr>
                                <td>VA</td>
                                <td>Virginia</td>
                            </tr>
                            <tr>
                                <td>WA</td>
                                <td>Washington</td>
                            </tr>
                            <tr>
                                <td>WV</td>
                                <td>West Virginia</td>
                            </tr>
                            <tr>
                                <td>WI</td>
                                <td>Wisconsin</td>
                            </tr>
                            <tr>
                                <td>WY</td>
                                <td>Wyoming</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
